header {
    width: 100%;
    height: 50px;
    background-color: #002766;
    display: flex;
    flex-direction: row;
}
#icon-cart {
    width: 50px;
    height: 50px;
    fill: #fff;
}
ul {
    display: flex;
    margin-left: 280px;
    align-items: center;
    overflow: hidden;
}
ul li {
    margin-left: 100px;
    position: relative;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
#total-items {
   position: absolute;
   top: 4px;
   left: 32px;
   width: 18px;
   height: 18px;
   overflow: visible;
   background-color: red;
   z-index: 100;
   text-align: center;
   font-size: 15px;
   border-radius: 50%;
   color: #fff;
   font-size: 12.5px;
}

@media only screen and (max-width: 600px) {
    .header-ul {
        margin-left: 0;
    }
}